body {
    background-color: rgb(61, 58, 55);
}
.Education_Container{
background-color: rgb(62, 67, 71);
}

.Course_Work{
    background-color: rgb(62, 67, 71);
}

.Work_Experience{
    background-color: rgb(62, 67, 71);
}

.Activities{
    background-color: rgb(62, 67, 71);
}